<div ng-controller="accountController" id="account">
    <div class="account">
        Username : {{username}}
        Email: {{email}}
        Friends
        <div id="friendList">
        </div>
    </div>

    <div class="friendSearch">
        <div class="inp">
            Search for friends: <input id="friend" type="text" data-ng-model="friendName"><br>
        </div>
        <a class="inp oup" onclick="addaFriend()">Search</a>
        <a class="inp oup" onclick="logout()">Log Out</a>
        <div class="inp oup" id="fs" onclick=""></div>
    </div>
</div>
