
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  </head>

  <body>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Turnt!</h1>
        <p>We make planning parties a breeze in three easy steps</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Lets Go! &raquo;</a></p>
      </div>
    </div>

    <div class="container" style="margin:20px;">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Think Kickstarter but for parties</h2>
          <p>When you wanna throw a party just add where you're gonna have it and set your goal for how much money and party supplies you need.</p>
          
        </div>
        <div class="col-md-4">
          <h2>Invite Friends</h2>
          <p>Invite all your buddies to turn up and help get supplies and money from them. Don't worry, only your friends can see your party, and it will be deleted after it happens!</p>
          
       </div>
        <div class="col-md-\4">
          <h2>Turn UP</h2>
          <p>Once enough people pledge to your party to meet your goals, the party is good to go! Just have a great time! </p>
          
        </div>
      </div>

      <hr>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
	<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
