<!DOCTYPE html>
<div class="create loginpane">
    <script src="../script/login.js"></script>

    <h1>Login</h1>

    <div class="inp">
        Username: <input id="uname" type="text"><br>
    </div>
    <div class="inp">
        Password: <input id="password" type="password"><br>
    </div>
    <table>
        <tr>
            <td>
                <a class="inp" href="register.html">Register</a>
            </td>
            <td>
                <a class="inp" onclick="SignIn()">Sign In</a>
            </td>
        </tr>
    </table>
</div>
