<div ng-controller="partyDetailsController" id="partyDetails">
    <div>
        {{$scope.party}}
    </div>

    <form action="" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_RYBmEz8xqBMJPrq1YeAuc9Pl"
        data-amount="1000"
        data-name="Turnt"
        data-description="2 widgets ($20.00)"
        data-image="/128x128.png">
      </script>
    </form>
    
    <a class="inp" ng-click="pledge()">Back this party and TurnUP!!</a>
</div>