<!DOCTYPE html>

<div class="create loginpane">
    <script src="../script/register.js"></script>

    <h1>Register</h1>

    <div class="inp">
        Email: <input id="email" type="email"><br>
    </div>
    <div class="inp">
        Username: <input id="uname" type="text"><br>
    </div>
    <div class="inp">
        Password: <input id="password" type="password"><br>
    </div>
    <table>
        <tr>
            <td>
                <a class="inp" onclick="Register()">Register</a>
            </td>
        </tr>
    </table>
</div>

