<div class="create loginpane" ng-controller="registerController" id="register">

    <h1>Register</h1>

    <div class="inp">
        Email: <input id="email" type="email" data-ng-model="userEmail"><br>
    </div>
    <div class="inp">
        Username: <input id="uname" type="text" data-ng-model="userName"><br>
    </div>
    <div class="inp">
        Password: <input id="password" type="password" data-ng-model="userPass"><br>
    </div>
    <table>
        <tr>
            <td>
                <a class="inp" ng-click="register()">Register</a>
            </td>
        </tr>
    </table>
</div>
