<div class="create loginpane" ng-controller="registerController" id="register">

    <h1>Register</h1>

    <div class="inp">
        Email: <input id="userEmail" type="email" data-ng-model="userEmail"><br> {{userEmail}}
    </div>
    <div class="inp">
        Username: <input id="userName" type="text" data-ng-model="userName"><br> {{userName}}
    </div>
    <div class="inp">
        Password: <input id="userPass" type="password" data-ng-model="userPass"><br> {{userPass}}
    </div>
    <table>
        <tr>
            <td>
                <a class="inp" type="button" ng-click="userRegister">Register</a>
            </td>
        </tr>
    </table>
	
</div>
